Source: ardesia
Section: Utilities
Priority: extra
Maintainer: Pilolli Pietro <pilolli@fbk.eu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage:

Package: ardesia
Architecture: any
Depends:  libatk1.0-0 (>= 1.9.0), libc6 (>= 2.3.4-1), libcairo2 (>= 1.0.2), libfontconfig1 (>= 2.3.0), libglib2.0-0 (>= 2.8.0), libgtk2.0-0 (>= 2.8.0), libpango1.0-0 (>= 1.10.1), libx11-6, libxcursor1 (>> 1.1.2), libxext6, libxfixes3, libxi6, libxinerama1, libxrandr2, libxrender1, libgsl0ldbl, recordmydesktop
Description: Gtk interface to make annotations on the screen.
 Ardesia help you to make colored free-hand annotations with digital ink on your computer screen, record it and share on the network.
 .
 You can use the tool to make effective on-screen presentation, highlight things or point out things of interest. 
 The tool facilitates the online presentations and demos showing in real time your computer screen to anyone in the network.
 Create nice tutorial and documentation saving the desktop images with your free hand annotations.
 You can draw lines with different strength, select color, erase things and draw arrows.
 You can free-hand draw geometrical shapes using the shape recognizer, insert text with the keyboard and highlight screen areas.
 You can draw upon the desktop or select an image as background. 
 .
 Ardesia works with all the pointing device; you can use a mouse, a graphic tablet, 
 a touch screen, a cheap professional wiimote whiteboard or a commercial whiteboard.

